{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="container mt-5">
    <form method="post" action=".">
        <div class="card">
            <div class="card-header">
                <h3><b>Biometrico de Empleado</b></h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Ingrese su número de cedula:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="dni" maxlength="10" required autocomplete="off"
                               value=""
                               placeholder="Ingrese un número de cedula">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary btn-biometric" disabled data-id="horaEntradaM">
                                <i class="fas fa-clock"></i> EntradaM
                            </button>
                            <button type="button" class="btn btn-info btn-biometric" disabled data-id="horaSalidaM">
                                <i class="fas fa-clock"></i> SalidaM
                            </button>
                            <button type="button" class="btn btn-success btn-biometric" disabled data-id="horaEntradaV">
                                <i class="fas fa-clock"></i> EntradaV
                            </button>
                            <button type="button" class="btn btn-warning btn-biometric" disabled data-id="horaSalidaV">
                                <i class="fas fa-clock"></i> SalidaV
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h1 id="time" class="text-center"></h1>
                <hr>
                <a href="{% url 'registroSintomatologia' %}" class="btn btn-secondary btn-block">
                    <i class="fas fa-home"></i> Retornar
                </a>
            </div>
        </div>
    </form>
</div>

<script type="application/javascript">

    function startTime() {

        function checkTime(i) {
            return (i < 10) ? "0" + i : i;
        }

        var today = new Date(),
            h = checkTime(today.getHours()),
            m = checkTime(today.getMinutes()),
            s = checkTime(today.getSeconds());
        var hour = h + ":" + m + ":" + s;

        $('#time').html(hour);

        t = setTimeout(function () {
            startTime();
        }, 500);
    }

    $(function () {

        $('input[name="dni"]').on('keyup', function (e) {
            var id = $(this).val().trim().length;
            console.log(id);
            $('.btn-biometric').prop('disabled', id !== 10);
        });


        $('.btn-biometric').on('click', function () {
            var dni = $('input[name="dni"]').val();

            var parameters = {
                'dni': dni,
                'action': 'create_horary',
                'horary': $(this).data('id')
            };

            $.ajax({
                url: "{% url 'biometrico' %}",
                data: parameters,
                method: 'POST',
                dataType: 'json',
                success: function (request) {
                    if (!request.hasOwnProperty('error')) {
                        alert('Asistencia registrada correctamente');
                        location.reload();
                        return false;
                    }
                    alert(request.error);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown + ' ' + textStatus);
                }
            });
        });

        startTime();
    });
</script>
</body>
</html>