{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%} Empleado {%endblock titulo%} </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="(% static '/styles.css' %)" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="p-3 mb-2 bg-info text-white" style="font-size: 20PX;">XODIM-SISTEMA DE GESTIÓN Y CONTROL DE EMPLEADOS ADAPTADO A LA PANDEMIA (COVID-19)</div>
    {%block cuerpo%}
    <h2 style="font-size: 30px;">Lista de Empleados </h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Dirección</th>
            <th scope="col">Cargo</th>
            <th scope="col">Valor</th>
            <th scope="col">Opción</th>
            <th scope="col"> fecha</th>
          </tr>
        </thead>
        <tbody>
            {% for empleado in object_list %}
            <tr>
                <td>{{empleado.cedula}}</td>
                <td>{{empleado.nombres}} </td>
                <td>{{empleado.apellidos}} </td>
                <td>{{empleado.email}} </td>
                <td>{{empleado.telefono}}</td>
                <td>{{empleado.fechaNacimiento}}</td>
                <td>{{empleado.direccion}}</td>
                <td>{{empleado.cargo}}</td>
                <td>{{empleado.valor}}</td>
                <td>{% url 'fecha'%}</td>
                <td> <a class="btn btn-success" style="margin: 0px 10px 0px" href="{% url 'editarEmpleado' empleado.cedula%} ">EDITAR</a> <a class="btn btn-danger" href="{% url 'eliminarEmpleado' empleado.cedula%}">ELIMINAR</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {%endblock cuerpo %}
</body>
</html>