{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body style="padding: 0px;">
    <a href="{% url 'login_url' %}" class="btn btn-link btn-lg active float-right" style="color: white; text-decoration: transparent;" role="button" aria-pressed="true">ADMIN</a>
    <form method="post" style="padding: 50px;">
        <!--  post porque sirve para enviar informacion de registro-->
        <div class="form-group" style="padding:0% 10%;">
            <input type="text" readonly class="form-control-plaintext" style="font-size: 10rem; text-align: center;" value="12:30">
            <input type="text" readonly class="form-control-plaintext" style="font-size: 2rem; text-align: center;" value="20-10-2020">

            <p><label for="id_cedula"> </label> <input  class="form-control form-control-lg"  type="text"name="cedula" maxlength="10" required
                id="id_cedula" placeholder="Ingrese su cédula"></p>
            <button type="submit" class="btn btn-info float-right" style="margin-top: 2%;">INICIAR</button>
 
            
        </div>
    </form>

    
    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>