{% extends 'index.html' %}
{%block titulo%} Registro Empleado {%endblock titulo%}
{%block cuerpo%}
<h1 style="font-size: 30px;">Registrar Empleado</h1>

<div class="container px-lg-5">
     <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5 border bg-light">
               <form method="post" style=" padding: 10px;">
                    <!--  post porque sirve para enviar informacion de registro-->
                    <div class="form-group">
                         {%csrf_token%}
                         <!--Con esto validmaos quien es el usuraio y cual es el token que pertenece al usuario q envia peticion-->
                         {{form.as_p}}
                         <button type="submit" class="btn btn-info">REGISTRAR
                         </button>

                    </div>
               </form>
          </div>
          <div class="col py-3 px-lg-50 border bg-light">
               <img src=https://cdn.digital.gob.cl/filer_public/d5/15/d515b7b3-0617-4dba-871f-1ab38b537652/prevencion-contagio.png class="img-fluid" alt="Responsive image">
          </div>

     </div>
     {%endblock cuerpo%}