{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Xodim Admin</title>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <link href="{% static 'Lib/jquery-confirm-v3.3.4/jquery-confirm-min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">XODIM<sup>1</sup></div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Heading -->
        <div class="sidebar-heading">
            ADMINISTRADORES
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register_url' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Registrar Administrador</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            EMPLEADOS
        </div>
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'registroEmp' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Registrar Empleado</span></a>
        </li>
        <!-- Nav Item - Tables -->
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'index' %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Lista de Empleados</span></a>
        </li>
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'estadisticas' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Estadisticas</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'biometrico' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Tomar asistencia</span></a>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href="{% url 'biometrico_listado' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Ver marcaciones</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'reporte_salarios' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Reporte de Salarios</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %} ">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Reporte de Sueldos</h6>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Rango de fechas:</label>
                                    <input type="text" class="form-control" name="date_range" autocomplete="off"
                                           maxlength="50">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Empleado:</label>
                                    {{ form.empleado }}
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col">Fecha de registro</th>
                                    <th scope="col">Hora de Entrada matutina</th>
                                    <th scope="col">Hora de salida matutina</th>
                                    <th scope="col">Hora de entrada vespertina</th>
                                    <th scope="col">Hora de salida vespertina</th>
                                    <th scope="col">Horas</th>
                                    <!-- <th scope="col">Minutos</th> -->
                                    
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your FlatSoftware 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'endor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'Lib/jquery-confirm-v3.3.4/jquery-confirm-min.js' %}"></script>

<script src="{% static 'Lib/daterangepicker-3.1/moment.js' %}"></script>
<script src="{% static 'Lib/daterangepicker-3.1/spanish.js' %}"></script>
<script src="{% static 'Lib/daterangepicker-3.1/daterangepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'Lib/daterangepicker-3.1/daterangepicker.css' %}"/>

<script type="application/javascript">

    var date_range;
    var tblReport;
    var date_joined = moment().format("YYYY-MM-DD");

    function generateReport() {
        var parameters = {
            'action': 'search_report',
            'start_date': date_joined,
            'end_date': date_joined,
            'emp': ''
        };

        if (date_range != null) {
            parameters['start_date'] = date_range.startDate.format('YYYY-MM-DD');
            parameters['end_date'] = date_range.endDate.format('YYYY-MM-DD');
        }

        var emp = $('select[name="empleado"]').val();
        if (emp !== '') {
            parameters['emp'] = emp;
        } else {
            if (tblReport !== null) {
                tblReport.clear().draw();
            }
            alert('Debe seleccionar un empleado');
            return false;
        }

        tblReport = $('#dataTable').DataTable({
            destroy: true,
            responsive: true,
            autoWidth: false,
            ajax: {
                url: "{% url 'reporte_salarios' %}",
                type: 'POST',
                data: parameters,
                dataSrc: ''
            },
            order: [[0, 'desc']],
            paging: false,
            ordering: true,
            searching: false,
            columns: [
                {data: "fechaRegistro"},
                {data: "horaEntrada"},
                {data: "horaSalidaM"},
                {data: "horaEntradaV"},
                {data: "horaSalidaV"},
                {data: "horas"}
               // {data: "minutos"},
            ],
            columnDefs: [
                {
                    targets: [-1],
                    orderable: false,
                    class: 'text-center',
                    render: function (data, type, row) {
                        return data;
                    }
                }
            ],
            rowCallback: function (row, data, index) {

            },
            initComplete: function (settings, json) {

            },
        });
    }


    $(function () {
        $('input[name="date_range"]')
            .daterangepicker({
                language: 'auto',
                startDate: new Date(),
                locale: {
                    format: 'YYYY-MM-DD',
                }
            })
            .on('apply.daterangepicker', function (ev, picker) {
                date_range = picker;
                generateReport();
            });

        $('select[name="empleado"]').on('change', function () {
            generateReport();
        });
    });
</script>

</body>

</html>