<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%} Empleado {%endblock titulo%} </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="(% static '/styles.css' %)" type="text/css" rel="stylesheet" />
</head>
<div class="alert alert-success" role="alert">
    <h4 style="font-size: 30px;" class="alert-heading">ADVERTENCIA</h4>
    <form method="post">
        {% csrf_token %}
        <h1 style="font-size: 25px;">¿Desea Eliminar al empleado {{object}}?</h1>
        <hr>
        <hr>
        
        <button type="submit" class="btn btn-danger">Confirmar</button>
        <a class="btn btn-success" href="{% url 'index' %} " role="button">Cancelar</a>
    </form>
  
    
  </div>
